@model WebAppShop.Models.Customer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Imię i nazwisko: @Model.Name</h2>

<ul>
    <li>Rodzaj członkostwa: @Model.MembershipType.Name</li>

    @if (Model.Birthdate.HasValue)
    {
        <li>Data narodzin: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>
