@model IEnumerable<WebAppShop.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("Nowy użytkownik", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
@* Jezeli pojawia sie problemy z Model.Any() to zmodyfikowac Web.config *@
@if (!Model.Any())
{
    <p>No customers</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Użytkownik</th>
                <th>Rodzaj członkostwa</th>
                <th>Zniżka</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                @* Model, Nazwa Akcji, Nazwa Kontrolera *@
                @*<td>Html.ActionLink(customer.Name, "Details", "Customers", new { customer.Id }, null)</td>*@
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
            }
        </tbody>
    </table>
}
